.vagrant
.settings
.gradle
.project
Wamya-backend-adapters/.settings
Wamya-backend-adapters/.settings/*
Wamya-backend-adapters/build
Wamya-backend-adapters/build/*
Wamya-backend-adapters/.classpath
Wamya-backend-adapters/.factorypath
Wamya-backend-adapters/.project
Wamya-backend-adapters/Wamya-backend-messaging/.settings
Wamya-backend-adapters/Wamya-backend-messaging/.settings/*
Wamya-backend-adapters/Wamya-backend-messaging/bin
Wamya-backend-adapters/Wamya-backend-messaging/bin/*
Wamya-backend-adapters/Wamya-backend-messaging/build
Wamya-backend-adapters/Wamya-backend-messaging/build/*
Wamya-backend-adapters/Wamya-backend-messaging/.project
Wamya-backend-adapters/Wamya-backend-messaging/.classpath
Wamya-backend-adapters/Wamya-backend-messaging/.factorypath
Wamya-backend-adapters/Wamya-backend-persistence/.settings
Wamya-backend-adapters/Wamya-backend-persistence/.settings/*
Wamya-backend-adapters/Wamya-backend-persistence/bin
Wamya-backend-adapters/Wamya-backend-persistence/bin/*
Wamya-backend-adapters/Wamya-backend-persistence/build
Wamya-backend-adapters/Wamya-backend-persistence/build/*
Wamya-backend-adapters/Wamya-backend-persistence/.project
Wamya-backend-adapters/Wamya-backend-persistence/.classpath
Wamya-backend-adapters/Wamya-backend-persistence/.factorypath
Wamya-backend-adapters/Wamya-backend-web/.settings
Wamya-backend-adapters/Wamya-backend-web/.settings/*
Wamya-backend-adapters/Wamya-backend-web/bin
Wamya-backend-adapters/Wamya-backend-web/bin/*
Wamya-backend-adapters/Wamya-backend-web/build
Wamya-backend-adapters/Wamya-backend-web/build/*
Wamya-backend-adapters/Wamya-backend-web/.project
Wamya-backend-adapters/Wamya-backend-web/.classpath
Wamya-backend-adapters/Wamya-backend-web/.factorypath
Wamya-backend-application/.settings
Wamya-backend-application/.settings/*
Wamya-backend-application/bin
Wamya-backend-application/bin/*
Wamya-backend-application/build
Wamya-backend-application/build/*
Wamya-backend-application/.project
Wamya-backend-application/.classpath
Wamya-backend-application/.factorypath
Wamya-backend-application/.settings
Wamya-backend-application/.settings/*
Wamya-backend-common/.settings
Wamya-backend-common/.settings/*
Wamya-backend-common/bin
Wamya-backend-common/bin/*
Wamya-backend-common/build
Wamya-backend-common/build/*
Wamya-backend-common/.project
Wamya-backend-common/.classpath
Wamya-backend-common/.factorypath
Wamya-backend-configuration/.settings
Wamya-backend-configuration/.settings/*
Wamya-backend-configuration/bin
Wamya-backend-configuration/bin/*
Wamya-backend-configuration/build
Wamya-backend-configuration/build/*
Wamya-backend-configuration/.project
Wamya-backend-configuration/.classpath
Wamya-backend-configuration/.factorypath
Wamya-backend-testdata/.settings
Wamya-backend-testdata/.settings/*
Wamya-backend-testdata/bin
Wamya-backend-testdata/bin/*
Wamya-backend-testdata/build
Wamya-backend-testdata/build/*
Wamya-backend-testdata/.project
Wamya-backend-testdata/.classpath
Wamya-backend-testdata/.factorypath