<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Update User</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<script type="text/javascript"
	src="/wamya-backend/content/scripts/jquery-3.6.0.js"></script>
</head>
<body>
	<script>
	$( document ).ready(function() {
		$("#password-reset")
				.submit(
						function(event) {
							event.preventDefault();

							if ($("#password").val() != $("#confirmation")
									.val()) {
								$("#message").css("color", "red");
								$("#message")
										.text(
												$("#lang").val() == 'fr_FR' ? "La confirmation ne correspond pas au mot de passe."
														: "Password does not match confirmation.")
										.show().fadeOut(5000);
							} else {
								// Get some values from elements on the page:
								var $form = $(this), passwordVal = $form.find(
										"#password").val(), uuidVal = $form
										.find("#uuid").val(), expiryVal = $form
										.find("#expiry").val(),

								url = $form.attr("action");

								// Send the data using post
								var posting = $.ajax(
								{
									url: url+"?lang="+ $("#lang").val(),
									method: 'POST',
									contentType: 'application/json; charset=utf-8',
									datatype: "json",
									data: JSON.stringify({
										password : passwordVal,
										uuid : uuidVal,
										expiry : expiryVal
									})
								});

								// Put the results in a div
								posting
										.done(
												function(data) {

													$("#message").css("color","green");
													$("#message").text(
																	$("#lang")
																			.val() == 'fr_FR' ? "Votre mot de passe a été changé avec succès!"
																			: "Password changed successfully!");
												})
										.fail(
												function() {
													$("#message").css("color", "red");
													$("#message").text(
																	$("#lang")
																			.val() == 'fr_FR' ? "Une erreur s'est produite lors du changement de votre mot de passe!"
																			: "An error occured while trying to change your password.");
												});
							}

						});
	});
	</script>
	<div class="container my-5">
		<div class="text-center">
			<img src="/wamya-backend/content/images/logo_wamya.png" alt="logo" />
		</div>
		<div class="container my-5">
			<div class="row">
				<div class="col-12">
					<h2 class="mb-3"
						th:text="#{com.excentria_it.wamya.adapter.web.adapter.change.password}"></h2>
				</div>
			</div>
			<div class="row">
				<form id="password-reset" class="col-12"
					th:action="@{/accounts/password-reset}"
					method="post" >
					<div class="row">
						<div class="form-group col-12 col-md-6">
							<label for="password" class="col-form-label"
								th:text="#{com.excentria_it.wamya.adapter.web.adapter.new.password}"></label>
							<input type="text" class="form-control" id="password"
								name="password">

						</div>
						<div class="form-group col-12 col-md-6">
							<label for="confirmation" class="col-form-label"
								th:text="#{com.excentria_it.wamya.adapter.web.adapter.new.password.confirmation}"></label>
							<input type="text" class="form-control" id="confirmation"
								name="confirmation">
						</div>

						<div>
							<input type="hidden" th:value="${uuid}" id="uuid" name="uuid">
						</div>
						<div>
							<input type="hidden" th:value="${exp}" id="expiry" name="expiry">
						</div>
						<div>
							<input type="hidden" th:value="${lang}" id="lang" name="lang">
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<span id="message"></span>
						</div>
					</div>
					<div class="row">
						
						<div class="col-12 offset-md-6 col-md-6 my-3">
							<input type="submit" class="btn btn-primary btn-block "
								th:value="#{com.excentria_it.wamya.adapter.web.adapter.change.my.password}">
						</div>
					</div>
				</form>
			</div>


		</div>

	</div>
</body>
</html>